Repository FACE-Amrita-Bengaluru/Website, pull requests merged in 2019-11, with the labels that each got.

#48 Add ACMW
  CODEOWNERS
  README.md
  functions/package-lock.json
  functions/views/ACMW_Members.ejs
  public/ACM/css/ACMW_Members.css
Labels: ACMW

#49 Acmw
  functions/views/ACMW_Members.ejs
  functions/views/acmw.ejs
  public/ACM/css/ACMW_Members.css
  public/ACM/img/food1.jpg
Labels: ACM-W

#53 Fix naming
  functions/index.js
  functions/views/ACM.ejs
  functions/views/ACMW.ejs
  functions/views/ICIC2018.ejs
  functions/views/TFS.ejs
  functions/views/submission.ejs
  public/ACM/css/ACM.css
  public/ACM/css/ACMW.css
  public/ACM/js/ACM.js
Labels: ACM, ACM-W

#50 ACM massive changes
  functions/index.js
  functions/views/ACM.ejs
  functions/views/ACM_CP.ejs
  functions/views/ACM_DS.ejs
  functions/views/ACM_WD.ejs
  functions/views/acm.ejs
  public/ACM/css/ACM.css
  public/ACM/css/ACM_Event.css
  public/ACM/css/ACM_SIG.css
  public/ACM/css/acm.css
  public/ACM/css/members.css
  public/ACM/img/ACM.png
  public/ACM/img/ACMW.png
  public/ACM/img/Events/FindFitFinish.jpeg
  public/ACM/img/Events/SIG_Intro.jpeg
  public/ACM/img/Events/Start.jpeg
  public/ACM/img/gallery/gal1.jpg
  public/ACM/img/gallery/gal10.jpg
  public/ACM/img/gallery/gal11.jpg
  public/ACM/img/gallery/gal12.jpg
  public/ACM/img/gallery/gal13.jpg
  public/ACM/img/gallery/gal14.jpg
  public/ACM/img/gallery/gal15.jpg
  public/ACM/img/gallery/gal16.jpg
  public/ACM/img/gallery/gal17.jpg
  public/ACM/img/gallery/gal18.jpg
  public/ACM/img/gallery/gal19.jpg
  public/ACM/img/gallery/gal2.jpg
  public/ACM/img/gallery/gal20.jpg
  public/ACM/img/gallery/gal21.jpg
  public/ACM/img/gallery/gal22.jpg
  public/ACM/img/gallery/gal23.jpg
  public/ACM/img/gallery/gal24.jpg
  public/ACM/img/gallery/gal25.jpg
  public/ACM/img/gallery/gal26.jpg
  public/ACM/img/gallery/gal27.jpg
  public/ACM/img/gallery/gal28.jpg
  public/ACM/img/gallery/gal29.jpg
  public/ACM/img/gallery/gal3.jpg
  public/ACM/img/gallery/gal30.jpg
  public/ACM/img/gallery/gal4.jpg
  public/ACM/img/gallery/gal5.jpg
  public/ACM/img/gallery/gal6.jpg
  public/ACM/img/gallery/gal7.jpg
  public/ACM/img/gallery/gal8.jpg
  public/ACM/img/gallery/gal9.jpg
  public/ACM/img/members/hrudeep.jpg
  public/ACM/img/members/jaswanth.jpg
  public/ACM/img/members/malvika.jpeg
  public/ACM/img/members/priyaa.jpg
  public/ACM/img/members/ritwik.jpg
  public/ACM/img/members/sahana.jpg
  public/ACM/img/members/shreya.jpg
  public/ACM/img/members/subaharish.jpg
  public/ACM/img/members/vaishnavi.jpg
  public/ACM/img/members/vishnu.jpg
  public/ACM/img/team.jpg
  public/ACM/img/team.png
Labels: ACM

#63 Adding members in ACM
  functions/views/ACM/ACM_Members.ejs
  public/ACM/css/ACM_Members.css
  public/ACM/img/members/adithya.jpg
  public/ACM/img/members/bhuvanashree.jpg
  public/ACM/img/members/gandheesh.jpeg
  public/ACM/img/members/moulika.jpg
Labels: ACM, EJS

#55 Fixing all ACM bugs
  CODEOWNERS
  functions/views/ACM/ACM.ejs
  functions/views/ACM/ACM_Blog.ejs
  functions/views/ACM/ACM_CP.ejs
  functions/views/ACM/ACM_DS.ejs
  functions/views/ACM/ACM_Events.ejs
  functions/views/ACM/ACM_Members.ejs
  functions/views/ACM/ACM_WD.ejs
  public/ACM/css/ACM.css
  public/ACM/css/ACM_Members.css
  public/ACM/css/ACM_SIG.css
  public/ACM/img/ACM_ASEB.png
  public/ACM/img/members/adithya.jpg
  public/ACM/img/members/bhuvanashree.jpg
  public/ACM/img/members/gandheesh.jpeg
  public/ACM/img/members/moulika.jpg
Labels: ACM, CSS, EJS

#74 Fixes #69
  public/ACM/img/Csig.png
  public/ACM/img/Dsig.png
  public/ACM/img/Wsig.png
Labels: ACM, Images

#75 Update ACM
  public/ACM/img/Csig.png
  public/ACM/img/Dsig.png
  public/ACM/img/Wsig.png
Labels: ACM, Images

#73 Fixed the issue
  public/ACMW/css/ACMW_Members.css
Labels: ACM-W, CSS

#79 Acm events
  functions/views/ACM/ACM_Events.ejs
  public/ACM/css/ACM_Event.css
Labels: ACM, CSS, EJS

#80 Added more contents in member page
  functions/views/ACM/ACM_Members.ejs
  public/ACM/css/ACM_Members.css
  public/ACM/img/supriya-m.jpg
Labels: ACM, CSS, EJS

#82 minor changes
  public/ACM/css/ACM_Members.css
Labels: ACM, CSS

#83 Blog
  functions/index.js
  functions/views/ACM/ACM.ejs
  functions/views/ACM/ACM_Blog.ejs
  public/ACM/css/ACM.css
  public/ACM/css/ACM_Blog.css
  public/ACM/img/DataScience.jpeg
  public/ACM/img/ML.png
  public/ACM/img/RamHack.jpg
Labels: ACM, CSS, EJS, Images

#85 Changed Blog BG
  public/ACM/css/ACM.css
  public/ACM/img/DataSci.jpg
  public/ACM/img/DataScience.jpeg
  public/ACM/img/ML.jpg
  public/ACM/img/ML.png
Labels: ACM, CSS, Images
