Repository FACE-Amrita-Bengaluru/Website, pull requests merged in 2020-04, with the labels that each got.

#163 ACMW bugs
  functions/package-lock.json
  functions/views/ACMW/contact.ejs
  functions/views/ACMW/members.ejs
Labels: ACM-W, EJS, bug

#164 fix: Animation Start Trigger
  functions/views/404.ejs
  functions/views/ACM/footer.ejs
  functions/views/ACM/index.ejs
  functions/views/ICIC_2018.ejs
  functions/views/TFS.ejs
  functions/views/comquer.ejs
  functions/views/offline.ejs
  functions/views/submission.ejs
  functions/views/team_1819.ejs
  functions/views/team_1920.ejs
  functions/views/uiux.ejs
  public/ACM/css/index.css
  public/ACM/js/index.js
Labels: ACM, CSS, EJS, JavaScript, bug

#165 style for footer and gallery
  functions/views/ACMW/contact.ejs
  functions/views/ACMW/index.ejs
  public/ACMW/css/index.css
Labels: ACM-W, CSS, EJS
