Repository FACE-Amrita-Bengaluru/Website, pull requests merged in 2020-01, with the labels that each got.

#108 ACM Landing Page
  functions/views/ACM/ACM.ejs
  public/ACM/css/ACM.css
  public/ACM/img/ASEB.jpg
  public/ACM/img/logowhite.png
  public/ACM/js/ACM.js
Labels: ACM, CSS, EJS, JavaScript, enhancement

#112 ACMW link added
  functions/views/ACMW/ACMW.ejs
  functions/views/ACMW/ACMW_Members.ejs
  package-lock.json
  public/ACMW/css/ACMW.css
  public/ACMW/img/ASEB.jpg
  public/ACMW/img/Team/aravind.jpg
  public/ACMW/img/Team/bhuvanashree.jpg
  public/ACMW/img/Team/harshita.jpg
  public/ACMW/img/Team/madhuri.jpg
  public/ACMW/img/Team/malvika.jpg
  public/ACMW/img/Team/manju.jpg
  public/ACMW/img/Team/meghana.jpg
  public/ACMW/img/Team/member.jpg
  public/ACMW/img/Team/moulika.jpg
  public/ACMW/img/Team/neelee.jpg
  public/ACMW/img/Team/priyaa.jpg
  public/ACMW/img/Team/sahana.jpg
  public/ACMW/img/Team/shreya.jpg
  public/ACMW/img/Team/supriya-m.jpg
  public/ACMW/img/Team/svarnim.jpg
  public/ACMW/img/Team/vaishnavi.jpg
  public/ACMW/img/events/FindFitFinish.jpg
  public/ACMW/img/events/SIG_Intro.jpg
  public/ACMW/img/events/Start.jpg
  public/ACMW/img/events/eventBG.png
  public/ACMW/img/team-image.png
Labels: ACM-W, CSS, EJS, Images

#118 image resize
  public/ACM/img/ACM.png
  public/ACM/img/DataSci.jpg
  public/ACM/img/gallery/gal1.jpg
  public/ACM/img/gallery/gal10.jpg
  public/ACM/img/gallery/gal11.jpg
  public/ACM/img/gallery/gal12.jpg
  public/ACM/img/gallery/gal13.jpg
  public/ACM/img/gallery/gal14.jpg
  public/ACM/img/gallery/gal15.jpg
  public/ACM/img/gallery/gal17.jpg
  public/ACM/img/gallery/gal2.jpg
  public/ACM/img/gallery/gal20.jpg
  public/ACM/img/gallery/gal23.jpg
  public/ACM/img/gallery/gal24.jpg
  public/ACM/img/gallery/gal25.jpg
  public/ACM/img/gallery/gal26.jpg
  public/ACM/img/gallery/gal27.jpg
  public/ACM/img/gallery/gal28.jpg
  public/ACM/img/gallery/gal30.jpg
  public/ACM/img/gallery/gal4.jpg
  public/ACM/img/gallery/gal5.jpg
  public/ACM/img/gallery/gal6.jpg
  public/ACM/img/gallery/gal7.jpg
  public/ACM/img/gallery/gal8.jpg
  public/ACM/img/gallery/gal9.jpg
  public/ACM/img/logowhite.png
  public/ACMW/img/ACMW.png
  public/images/team_1819/sriharish.jpg
Labels: ACM, Images, enhancement
