Repository FACE-Amrita-Bengaluru/Website, pull requests merged in 2020-03, with the labels that each got.

#126 Credits
  functions/views/ACM/ACM.ejs
  functions/views/ACM/ACM_CP.ejs
  functions/views/ACM/ACM_DS.ejs
  functions/views/ACM/ACM_Events.ejs
  functions/views/ACM/ACM_Members.ejs
  functions/views/ACM/ACM_WD.ejs
  functions/views/ACM/footer.ejs
  public/ACM/css/ACM.css
  public/ACM/css/ACM_SIG.css
Labels: ACM, CSS, EJS

#132 added sig and gallery
  functions/views/ACMW/ACMW.ejs
  functions/views/ACMW/Gallery.ejs
  functions/views/ACMW/ccsig.ejs
  functions/views/ACMW/dssig.ejs
  functions/views/ACMW/wdsig.ejs
  public/ACMW/css/ACMW_Members.css
Labels: ACM-W, CSS, EJS

#133 Acmw
  functions/views/ACMW/ACMW.ejs
  functions/views/ACMW/ACMW_Members.ejs
  functions/views/ACMW/ACMW_SIG.ejs
  public/ACMW/css/ACMW.css
  public/ACMW/css/ACMW_Members.css
  public/ACMW/css/ACMW_SIG.css
Labels: ACM-W, CSS, EJS

#144 ACM Bug Fixes
  functions/views/ACM/ACM.ejs
  functions/views/ACM/ACM_CP.ejs
  functions/views/ACM/ACM_Events.ejs
  functions/views/ACM/ACM_Members.ejs
  functions/views/ACM/ACM_WD.ejs
  functions/views/ACM/footer.ejs
  functions/views/ACM/nav.ejs
  public/ACM/css/ACM.css
  public/ACM/css/ACM_Event.css
  public/ACM/css/ACM_Members.css
  public/ACM/css/ACM_SIG.css
  public/ACM/img/logowhite.png
  public/ACM/js/ACM.js
Labels: ACM, CSS, EJS, Images

#150 modified members
  functions/views/ACMW/ACMW.ejs
  functions/views/ACMW/ACMW_Members.ejs
  functions/views/ACMW/ACMW_WD.ejs
  functions/views/ACMW/contact.ejs
Labels: ACM-W, EJS

#154 ACM final roster
  functions/views/ACM/CompetitiveCoding.ejs
  functions/views/ACM/DataScience.ejs
  functions/views/ACM/WebDevelopment.ejs
  functions/views/ACM/events.ejs
  functions/views/ACM/footer.ejs
  functions/views/ACM/index.ejs
  functions/views/ACM/members.ejs
  functions/views/ACM/meta.ejs
  functions/views/ACM/nav.ejs
  functions/views/ACM/scripts.ejs
  functions/views/ACMW/index.ejs
  public/ACM/css/index.css
  public/ACM/css/members.css
  public/ACM/img/ASEB.jpg
  public/ACM/img/ML.jpg
  public/ACM/img/RamHack.jpg
  public/ACM/img/SIG/Csig.png
  public/ACM/img/SIG/Dsig.png
  public/ACM/img/SIG/Wsig.png
  public/ACM/img/blog/DataSci.jpg
  public/ACM/img/blog/ML.jpg
  public/ACM/img/blog/RamHack.jpg
  public/ACM/img/events/SIG_Intro.jpg
  public/ACM/img/food1.jpg
  public/ACM/img/icon/favicon.ico
  public/ACM/img/logos/ACM.png
  public/ACM/img/logos/ACM_ASEB.png
  public/ACM/img/logos/logo.png
  public/ACM/img/logos/logowhite.png
  public/ACM/img/member.jpg
  public/ACM/img/members/supriya-m.jpg
  public/ACM/img/pattern.jpg
  public/ACM/img/team.jpg
  public/ACMW/css/events.css
Labels: ACM, CSS, EJS, Images, JavaScript, bug, enhancement

#158 fix: Resized images
  public/ACM/img/ASEB.jpg
  public/ACM/img/bg.jpg
  public/ACM/img/blog/DataSci.jpg
  public/ACM/img/blog/ML.jpg
  public/ACM/img/blog/RamHack.jpg
  public/ACM/img/events/eventBG.jpg
  public/ACM/img/events/eventBG.png
  public/ACM/img/gallery/gal1.jpg
  public/ACM/img/gallery/gal10.jpg
  public/ACM/img/gallery/gal11.jpg
  public/ACM/img/gallery/gal12.jpg
  public/ACM/img/gallery/gal13.jpg
  public/ACM/img/gallery/gal14.jpg
  public/ACM/img/gallery/gal15.jpg
  public/ACM/img/gallery/gal16.jpg
  public/ACM/img/gallery/gal17.jpg
  public/ACM/img/gallery/gal18.jpg
  public/ACM/img/gallery/gal2.jpg
  public/ACM/img/gallery/gal20.jpg
  public/ACM/img/gallery/gal23.jpg
  public/ACM/img/gallery/gal24.jpg
  public/ACM/img/gallery/gal25.jpg
  public/ACM/img/gallery/gal26.jpg
  public/ACM/img/gallery/gal27.jpg
  public/ACM/img/gallery/gal28.jpg
  public/ACM/img/gallery/gal3.jpg
  public/ACM/img/gallery/gal30.jpg
  public/ACM/img/gallery/gal4.jpg
  public/ACM/img/gallery/gal5.jpg
  public/ACM/img/gallery/gal6.jpg
  public/ACM/img/gallery/gal7.jpg
  public/ACM/img/gallery/gal8.jpg
  public/ACM/img/gallery/gal9.jpg
  public/ACM/img/members/adithya.jpg
  public/ACM/img/members/bhuvanashree.jpg
  public/ACM/img/members/gandheesh.jpg
  public/ACM/img/members/hrudeep.jpg
  public/ACM/img/members/jaswanth.jpg
  public/ACM/img/members/malvika.jpg
  public/ACM/img/members/moulika.jpg
  public/ACM/img/members/shreya.jpg
  public/ACM/img/members/subaharish.jpg
  public/ACM/img/members/supriya-m.jpg
  public/ACM/img/members/vaishnavi.jpg
  public/ACM/img/members/vishnu.jpg
Labels: ACM, Images

#160 Animation on Scroll
  functions/views/ACM/index.ejs
  public/ACM/js/index.js
Labels: ACM, EJS, JavaScript
