Repository FACE-Amrita-Bengaluru/Website, changes with the owners that CODEOWNERS names for each.
All owners: @AravindVNair99, @VinayakTekade, @PriyaaIyer

Rename to ACM CSS
  public/ACM/css/acm.css
Owners: @VinayakTekade, @AravindVNair99

Add ACM CSS path
  functions/views/acm.ejs
Owners: @VinayakTekade, @AravindVNair99

Create a.txt
  public/ACM/a.txt
Owners: @VinayakTekade, @AravindVNair99

Delete a.txt
  public/ACM/a.txt
Owners: @VinayakTekade, @AravindVNair99

Create a.txt
  public/ACM/a.txt
Owners: @VinayakTekade, @AravindVNair99

Add CSI Comquer Quiz 3 Top Scorers
  functions/views/tfs.ejs
Owners: @AravindVNair99

Padding, img alt, events Fixes
  functions/views/acm.ejs
  public/ACM/css/acm.css
Owners: @VinayakTekade, @AravindVNair99

Remove parallax from ACM
  functions/views/acm.ejs
  public/ACM/js/parallax.min.js
Owners: @VinayakTekade, @AravindVNair99

ACM Event fixes
  functions/views/acm.ejs
  public/ACM/css/acm.css
Owners: @VinayakTekade, @AravindVNair99

Refactor
  functions/views/acm.ejs
Owners: @VinayakTekade, @AravindVNair99

Add CSI Amrita Tech Scramble results
  functions/views/tfs.ejs
Owners: @AravindVNair99

Condense TFS regno
  functions/views/tfs.ejs
Owners: @AravindVNair99

Fix spelling
  functions/views/tfs.ejs
Owners: @AravindVNair99

v3.5.4
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

Formatted
  functions/views/acm.ejs
  functions/views/acmBlog.ejs
  functions/views/acmMember.ejs
  functions/views/acmw.ejs
Owners: @VinayakTekade, @AravindVNair99, @PriyaaIyer

Removed carousel
  functions/views/acmBlog.ejs
  functions/views/acmEvent.ejs
Owners: @AravindVNair99

Initialised acmEvent.ejs
  functions/views/acmEvent.ejs
Owners: @AravindVNair99

Added route to acmEvent
  functions/index.js
Owners: @AravindVNair99

Removed cards
  functions/views/acmEvent.ejs
Owners: @AravindVNair99

Documented and changed navbar
  public/ACM/css/acmBlog.css
Owners: @VinayakTekade, @AravindVNair99

Added cards
  functions/views/acmEvent.ejs
Owners: @AravindVNair99

Added month tag
  functions/views/acmEvent.ejs
  public/ACM/css/acmBlog.css
Owners: @AravindVNair99, @VinayakTekade

Added styles for acmEvent
  functions/views/acmEvent.ejs
  public/ACM/css/acmBlog.css
  public/ACM/css/acmEvent.css
Owners: @AravindVNair99, @VinayakTekade

Updated navbar
  functions/views/acm.ejs
  functions/views/acmBlog.ejs
  functions/views/acmEvent.ejs
  functions/views/acmMember.ejs
Owners: @VinayakTekade, @AravindVNair99

Updated navbar links
  functions/views/acmBlog.ejs
  functions/views/acmEvent.ejs
  functions/views/acmMember.ejs
Owners: @AravindVNair99

Updated space behind navbar
  functions/views/acmBlog.ejs
  functions/views/acmEvent.ejs
  functions/views/acmMember.ejs
  public/ACM/css/acmBlog.css
  public/ACM/css/acmEvent.css
  public/ACM/css/members.css
Owners: @AravindVNair99, @VinayakTekade

Updated home link
  functions/views/acmBlog.ejs
  functions/views/acmEvent.ejs
  functions/views/acmMember.ejs
Owners: @AravindVNair99

removed internal css
  functions/views/acmBlog.ejs
Owners: @AravindVNair99

Changed layout of members page
  functions/views/acmMember.ejs
  public/ACM/css/members.css
Owners: @AravindVNair99, @VinayakTekade

Added more members
  functions/views/acmMember.ejs
Owners: @AravindVNair99

Fix spelling
  functions/index.js
  functions/views/acmEvents.ejs
  functions/views/acmMembers.ejs
Owners: @AravindVNair99

Refactor ACM EJS
  functions/views/acm.ejs
  functions/views/acmBlog.ejs
  functions/views/acmMembers.ejs
Owners: @VinayakTekade, @AravindVNair99

Refactor ACM - W EJS
  functions/views/acmw.ejs
Owners: @PriyaaIyer, @AravindVNair99

Refactor ACM CSS
  public/ACM/css/acmBlog.css
  public/ACM/css/acmEvent.css
  public/ACM/css/members.css
Owners: @VinayakTekade, @AravindVNair99

Fix incorrect tags
  functions/views/acmEvents.ejs
Owners: @AravindVNair99

Refactor ACM EJS
  functions/views/acmEvents.ejs
Owners: @AravindVNair99

v3.5.5
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

Update Firebase config
  firebase.json
Owners: @AravindVNair99

Remove ACM Coming Soon
  functions/index.js
  functions/views/acmComingSoon.ejs
  public/ACM/css/comingSoon.css
Owners: @AravindVNair99, @VinayakTekade

Rename to acm.js
  functions/views/acm.ejs
  public/ACM/js/acm.js
Owners: @VinayakTekade, @AravindVNair99

CODEOWNERS:

*	@AravindVNair99

# ACM

acm.ejs	@VinayakTekade	@AravindVNair99
ACM/	@VinayakTekade	@AravindVNair99

# ACM - W

acmw.ejs	@PriyaaIyer	@AravindVNair99
