Repository FACE-Amrita-Bengaluru/Website, changes with the owners that CODEOWNERS names for each.
All owners: @AravindVNair99, @VinayakTekade, @PriyaaIyer

Updated Copyright 2020 (#210)
  LICENSE
  functions/views/ACM/footer.ejs
  functions/views/ACMW/contact.ejs
  functions/views/footer.ejs
  functions/views/offline.ejs
Owners: @AravindVNair99, @VinayakTekade, @PriyaaIyer

Switch to main branch
  .github/workflows/firebase.yml
Owners: @AravindVNair99

fix: upgrade firebase-admin from 9.2.0 to 9.3.0
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

fix: functions/package.json & functions/package-lock.json to reduce vulnerabilities
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

fix: upgrade firebase-functions from 3.11.0 to 3.12.0
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

fix: functions/package.json & functions/package-lock.json to reduce vulnerabilities (#213)
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

fix: upgrade firebase-functions from 3.11.0 to 3.13.0
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

fix: upgrade firebase-functions from 3.11.0 to 3.13.0 (#216)
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

fix: upgrade firebase-functions from 3.13.0 to 3.13.1
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

fix: functions/package.json & functions/package-lock.json to reduce vulnerabilities
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

fix: functions/package.json & functions/package-lock.json to reduce vulnerabilities (#218)
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

fix: upgrade firebase-functions from 3.13.0 to 3.13.1 (#217)
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

Update dependencies
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

Update dependencies
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

Refactor Markdown
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @AravindVNair99

Refactor ACM EJS
  functions/views/ACM/CompetitiveCoding.ejs
  functions/views/ACM/DataScience.ejs
  functions/views/ACM/WebDevelopment.ejs
  functions/views/ACM/events.ejs
  functions/views/ACM/footer.ejs
  functions/views/ACM/index.ejs
  functions/views/ACM/members.ejs
Owners: @VinayakTekade, @AravindVNair99

Refactor ACM-W EJS
  functions/views/ACMW/CompetitiveCoding.ejs
  functions/views/ACMW/DataScience.ejs
  functions/views/ACMW/WebDevelopment.ejs
  functions/views/ACMW/contact.ejs
  functions/views/ACMW/events.ejs
Owners: @PriyaaIyer, @AravindVNair99

Refactor FACE EJS
  functions/views/404.ejs
  functions/views/TFS.ejs
  functions/views/comquer.ejs
  functions/views/footer.ejs
  functions/views/index.ejs
  functions/views/offline.ejs
  functions/views/scripts.ejs
  functions/views/social.ejs
  functions/views/submission.ejs
  functions/views/team_1819.ejs
  functions/views/uiux.ejs
Owners: @AravindVNair99

Upgrade to Node.js 12
  .github/workflows/nodejs.yml
  functions/package.json
Owners: @AravindVNair99

Upgrade to @main for actions
  .github/workflows/firebase.yml
  .github/workflows/nodejs.yml
Owners: @AravindVNair99

Refactor ACM JS
  public/ACM/js/index.js
Owners: @VinayakTekade, @AravindVNair99

Refactor ACM-W CSS
  public/ACMW/css/index.css
Owners: @PriyaaIyer, @AravindVNair99

FACE: Fix missing CSS
  public/css/base.css
Owners: @AravindVNair99

FACE: Refactor CSS
  public/css/font-awesome/css/font-awesome.css
  public/css/fonts.css
  public/css/vendor.min.css
Owners: @AravindVNair99

FACE: Refactor JS
  public/js/main.js
  public/js/manup.js
Owners: @AravindVNair99

actions: update to @main
  .github/workflows/shiftleft-analysis.yml
Owners: @AravindVNair99

Remove Gitpod
  .gitpod.yml
Owners: @AravindVNair99

Refactor
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Prerequisite.md
  README.md
  public/offline.html
  public/pwabuilder-sw.js
  public/sitemap.xml
Owners: @AravindVNair99

Update to Node.js 12
  functions/package-lock.json
Owners: @AravindVNair99

Update to 2021 copyright
  LICENSE
  functions/views/ACM/footer.ejs
  functions/views/ACMW/contact.ejs
  functions/views/footer.ejs
  functions/views/offline.ejs
Owners: @AravindVNair99, @VinayakTekade, @PriyaaIyer

Update sitemap
  public/sitemap.xml
Owners: @AravindVNair99

v4.2.1
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

Update dependencies
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

Updated drop-down for team 20-21 in navigation bar
  functions/views/header.ejs
  functions/views/nav.ejs
Owners: @AravindVNair99

Updated testimonials section for team 20-21
  functions/views/index.ejs
  public/images/team_2021/aditya.jpg
  public/images/team_2021/akkina.jpg
  public/images/team_2021/harshitha.jpg
  public/images/team_2021/hrudeep.jpg
  public/images/team_2021/lokesh.jpg
  public/images/team_2021/madhuri.jpeg
  public/images/team_2021/manasa.jpg
  public/images/team_2021/rajakumar.png
  public/images/team_2021/ritwik.jpg
  public/images/team_2021/shirisha.jpg
  public/images/team_2021/sneha.png
  public/images/team_2021/tarun.jpg
  public/images/team_2021/thogarucheeti.jpeg
  public/images/team_2021/yash.jpeg
Owners: @AravindVNair99

Added team 20-21 page with all chair and co-chair
  functions/views/team_2021.ejs
Owners: @AravindVNair99

Updated yash (face secretary) tagline
  functions/views/index.ejs
  functions/views/team_2021.ejs
Owners: @AravindVNair99

npm 7
  functions/package-lock.json
Owners: @AravindVNair99

Refactor
  functions/views/index.ejs
  functions/views/team_2021.ejs
Owners: @AravindVNair99

Update DSC name and fix typo
  functions/views/index.ejs
  functions/views/team_1920.ejs
  functions/views/team_2021.ejs
Owners: @AravindVNair99

CODEOWNERS:

*	@AravindVNair99
ACM/	@VinayakTekade	@AravindVNair99
ACMW/	@PriyaaIyer	@AravindVNair99
ACM/img/ACM_ASEB.png @VinayakTekade @PriyaaIyer	@AravindVNair99
ACM/img/ASEB.jpg @VinayakTekade @PriyaaIyer	@AravindVNair99
