Repository FACE-Amrita-Bengaluru/Website, changes with the owners that CODEOWNERS names for each.
All owners: @AravindVNair99, @VinayakTekade, @PriyaaIyer

CODEOWNERS:

*	@AravindVNair99
ACM/	@VinayakTekade	@AravindVNair99
ACMW/	@PriyaaIyer	@AravindVNair99
ACM/img/ACM_ASEB.png @VinayakTekade @PriyaaIyer	@AravindVNair99
ACM/img/ASEB.jpg @VinayakTekade @PriyaaIyer	@AravindVNair99

Delete Comquer.ejs
  functions/views/Comquer.ejs
Owners: @AravindVNair99

v4.0.0
  README.md
  functions/package-lock.json
  functions/package.json
  functions/views/ACM/events.ejs
  functions/views/ACMW/CompetitiveCoding.ejs
  functions/views/ACMW/DataScience.ejs
  functions/views/ACMW/WebDevelopment.ejs
  functions/views/ACMW/events.ejs
  functions/views/ACMW/index.ejs
  functions/views/index.ejs
Owners: @AravindVNair99, @VinayakTekade, @PriyaaIyer

fix: broken links on ACM and ACM-W members
  functions/index.js
Owners: @AravindVNair99

feat: links to LinkedIn profile
  functions/views/ACM/footer.ejs
Owners: @VinayakTekade, @AravindVNair99

feat: footer links opens in new tab
  functions/views/ACM/footer.ejs
Owners: @VinayakTekade, @AravindVNair99

fix: Web dev logo overlapping text
  functions/views/ACM/WebDevelopment.ejs
Owners: @VinayakTekade, @AravindVNair99

fix: link for home
  functions/views/ACM/nav.ejs
Owners: @VinayakTekade, @AravindVNair99

feat: Added meta.ejs
  functions/views/ACM/CompetitiveCoding.ejs
  functions/views/ACM/DataScience.ejs
  functions/views/ACM/WebDevelopment.ejs
  functions/views/ACM/events.ejs
  functions/views/ACM/index.ejs
  functions/views/ACM/members.ejs
  functions/views/ACM/meta.ejs
  public/ACM/img/favicon.ico
Owners: @VinayakTekade, @AravindVNair99

fix: reduce image size
  public/ACM/img/ASEB.jpg
  public/ACM/img/ML.jpg
  public/ACM/img/RamHack.jpg
  public/ACM/img/events/SIG_Intro.jpg
Owners: @VinayakTekade, @AravindVNair99

fix: Replaced Competitive Programming with Competitive Coding
  functions/views/ACM/CompetitiveCoding.ejs
  functions/views/ACM/events.ejs
  functions/views/ACM/index.ejs
  functions/views/ACM/members.ejs
Owners: @VinayakTekade, @AravindVNair99

feat: categorized images
  functions/views/ACM/index.ejs
  functions/views/ACMW/index.ejs
  public/ACM/css/index.css
  public/ACM/css/members.css
  public/ACM/img/SIG/Csig.png
  public/ACM/img/SIG/Dsig.png
  public/ACM/img/SIG/Wsig.png
  public/ACM/img/blog/DataSci.jpg
  public/ACM/img/blog/ML.jpg
  public/ACM/img/blog/RamHack.jpg
  public/ACM/img/food1.jpg
  public/ACM/img/icon/favicon.ico
  public/ACM/img/logo/ACM.png
  public/ACM/img/logo/ACM_ASEB.png
  public/ACM/img/logo/logo.png
  public/ACM/img/logo/logowhite.png
  public/ACM/img/member.jpg
  public/ACM/img/members/supriya-m.jpg
  public/ACM/img/pattern.jpg
  public/ACM/img/team.jpg
  public/ACMW/css/events.css
Owners: @VinayakTekade, @AravindVNair99, @PriyaaIyer

feat: Commented code for better maintainance
  functions/views/ACM/CompetitiveCoding.ejs
  functions/views/ACM/DataScience.ejs
  functions/views/ACM/WebDevelopment.ejs
  functions/views/ACM/events.ejs
  functions/views/ACM/meta.ejs
  functions/views/ACM/nav.ejs
Owners: @VinayakTekade, @AravindVNair99

feat: Added noopener attribute
  functions/views/ACM/CompetitiveCoding.ejs
  functions/views/ACMW/index.ejs
Owners: @VinayakTekade, @AravindVNair99, @PriyaaIyer

fix: refactor
  functions/views/ACM/CompetitiveCoding.ejs
  functions/views/ACM/DataScience.ejs
  functions/views/ACM/WebDevelopment.ejs
  functions/views/ACM/events.ejs
  functions/views/ACM/index.ejs
  functions/views/ACM/members.ejs
  functions/views/ACM/scripts.ejs
Owners: @VinayakTekade, @AravindVNair99

few changes in pages
  functions/views/ACMW/CompetitiveCoding.ejs
  functions/views/ACMW/DataScience.ejs
  functions/views/ACMW/WebDevelopment.ejs
  functions/views/ACMW/contact.ejs
  functions/views/ACMW/events.ejs
  functions/views/ACMW/index.ejs
  functions/views/ACMW/members.ejs
  public/ACMW/css/events.css
  public/ACMW/css/index.css
  public/ACMW/css/members.css
Owners: @PriyaaIyer, @AravindVNair99

fixed alt in event
  functions/views/ACMW/events.ejs
Owners: @PriyaaIyer, @AravindVNair99

minor changes
  public/ACMW/css/events.css
Owners: @PriyaaIyer, @AravindVNair99

refactor: ACM and ACM-W
  functions/views/ACM/CompetitiveCoding.ejs
  functions/views/ACM/DataScience.ejs
  functions/views/ACM/WebDevelopment.ejs
  functions/views/ACM/events.ejs
  functions/views/ACM/footer.ejs
  functions/views/ACM/index.ejs
  functions/views/ACM/members.ejs
  functions/views/ACM/meta.ejs
  functions/views/ACM/scripts.ejs
  functions/views/ACMW/index.ejs
Owners: @VinayakTekade, @AravindVNair99, @PriyaaIyer

fix: duplicate rel="noopener"
  functions/views/ACM/CompetitiveCoding.ejs
Owners: @VinayakTekade, @AravindVNair99

fix: missing rel="noopener"
  functions/views/ACM/WebDevelopment.ejs
Owners: @VinayakTekade, @AravindVNair99

fix: missing properties for outside link
  functions/views/ACM/footer.ejs
Owners: @VinayakTekade, @AravindVNair99

fix: logos folder path
  functions/views/ACM/index.ejs
  functions/views/ACM/nav.ejs
  functions/views/ACMW/index.ejs
  public/ACM/css/index.css
  public/ACM/img/logos/ACM.png
  public/ACM/img/logos/ACM_ASEB.png
  public/ACM/img/logos/logo.png
  public/ACM/img/logos/logowhite.png
Owners: @VinayakTekade, @AravindVNair99, @PriyaaIyer

feat: Google Analytics
  functions/views/ACM/meta.ejs
Owners: @VinayakTekade, @AravindVNair99

chore: ACM final roster (#154)
  functions/views/ACM/CompetitiveCoding.ejs
  functions/views/ACM/DataScience.ejs
  functions/views/ACM/WebDevelopment.ejs
  functions/views/ACM/events.ejs
  functions/views/ACM/footer.ejs
  functions/views/ACM/index.ejs
  functions/views/ACM/members.ejs
  functions/views/ACM/meta.ejs
  functions/views/ACM/nav.ejs
  functions/views/ACM/scripts.ejs
  functions/views/ACMW/index.ejs
  public/ACM/css/index.css
  public/ACM/css/members.css
  public/ACM/img/ASEB.jpg
  public/ACM/img/ML.jpg
  public/ACM/img/RamHack.jpg
  public/ACM/img/SIG/Csig.png
  public/ACM/img/SIG/Dsig.png
  public/ACM/img/SIG/Wsig.png
  public/ACM/img/blog/DataSci.jpg
  public/ACM/img/blog/ML.jpg
  public/ACM/img/blog/RamHack.jpg
  public/ACM/img/events/SIG_Intro.jpg
  public/ACM/img/food1.jpg
  public/ACM/img/icon/favicon.ico
  public/ACM/img/logos/ACM.png
  public/ACM/img/logos/ACM_ASEB.png
  public/ACM/img/logos/logo.png
  public/ACM/img/logos/logowhite.png
  public/ACM/img/member.jpg
  public/ACM/img/members/supriya-m.jpg
  public/ACM/img/pattern.jpg
  public/ACM/img/team.jpg
  public/ACMW/css/events.css
Owners: @VinayakTekade, @AravindVNair99, @PriyaaIyer

[CodeFactor] Apply fixes
  public/ACMW/css/events.css
Owners: @PriyaaIyer, @AravindVNair99

[ImgBot] Optimize images
  public/ACM/img/ASEB.jpg
  public/ACM/img/blog/ML.jpg
  public/ACM/img/blog/RamHack.jpg
  public/ACM/img/events/SIG_Intro.jpg
Owners: @VinayakTekade, @AravindVNair99

replaced padding properties to single padding property
  public/ACMW/css/events.css
  public/ACMW/css/index.css
  public/ACMW/css/members.css
Owners: @PriyaaIyer, @AravindVNair99

[CodeFactor] Apply fixes
  public/ACMW/css/events.css
  public/ACMW/css/index.css
  public/ACMW/css/members.css
Owners: @PriyaaIyer, @AravindVNair99

fixed few errors
  functions/views/ACM/footer.ejs
  functions/views/ACMW/events.ejs
  public/ACMW/css/events.css
Owners: @VinayakTekade, @AravindVNair99, @PriyaaIyer

Rearranged position of selectors
  public/ACMW/css/events.css
Owners: @PriyaaIyer, @AravindVNair99

fixed spelling and rearranged the selectors
  functions/views/ACMW/CompetitiveCoding.ejs
  public/ACMW/css/events.css
Owners: @PriyaaIyer, @AravindVNair99

changes made in navbar
  public/ACMW/css/events.css
Owners: @PriyaaIyer, @AravindVNair99

removed unwanted class from navbar
  public/ACMW/css/events.css
Owners: @PriyaaIyer, @AravindVNair99

removed whitespace
  public/ACMW/css/events.css
Owners: @PriyaaIyer, @AravindVNair99

comjuer.ejs
  functions/views/comquer.ejs
Owners: @AravindVNair99

v4.0.0
  README.md
  functions/package-lock.json
  functions/package.json
  functions/views/ACM/events.ejs
  functions/views/ACMW/CompetitiveCoding.ejs
  functions/views/ACMW/DataScience.ejs
  functions/views/ACMW/WebDevelopment.ejs
  functions/views/ACMW/events.ejs
  functions/views/ACMW/index.ejs
  functions/views/index.ejs
Owners: @AravindVNair99, @VinayakTekade, @PriyaaIyer

fixed alt in event
  functions/views/ACMW/events.ejs
Owners: @PriyaaIyer, @AravindVNair99

fix: broken links on ACM and ACM-W members
  functions/index.js
Owners: @AravindVNair99

minor changes
  public/ACMW/css/events.css
Owners: @PriyaaIyer, @AravindVNair99

few changes in pages
  functions/views/ACMW/CompetitiveCoding.ejs
  functions/views/ACMW/DataScience.ejs
  functions/views/ACMW/WebDevelopment.ejs
  functions/views/ACMW/contact.ejs
  functions/views/ACMW/events.ejs
  functions/views/ACMW/index.ejs
  functions/views/ACMW/members.ejs
  public/ACMW/css/events.css
  public/ACMW/css/index.css
  public/ACMW/css/members.css
Owners: @PriyaaIyer, @AravindVNair99
