Repository FACE-Amrita-Bengaluru/Website, changes with the owners that CODEOWNERS names for each.
All owners: @AravindVNair99, @VinayakTekade, @PriyaaIyer

CODEOWNERS:

*	@AravindVNair99
ACM/	@VinayakTekade	@AravindVNair99
ACMW/	@PriyaaIyer	@AravindVNair99
ACM/img/ACM_ASEB.png @VinayakTekade @PriyaaIyer	@AravindVNair99
ACM/img/ASEB.jpg @VinayakTekade @PriyaaIyer	@AravindVNair99

chore: ACM final roster (#154)
  functions/views/ACM/CompetitiveCoding.ejs
  functions/views/ACM/DataScience.ejs
  functions/views/ACM/WebDevelopment.ejs
  functions/views/ACM/events.ejs
  functions/views/ACM/footer.ejs
  functions/views/ACM/index.ejs
  functions/views/ACM/members.ejs
  functions/views/ACM/meta.ejs
  functions/views/ACM/nav.ejs
  functions/views/ACM/scripts.ejs
  functions/views/ACMW/index.ejs
  public/ACM/css/index.css
  public/ACM/css/members.css
  public/ACM/img/ASEB.jpg
  public/ACM/img/ML.jpg
  public/ACM/img/RamHack.jpg
  public/ACM/img/SIG/Csig.png
  public/ACM/img/SIG/Dsig.png
  public/ACM/img/SIG/Wsig.png
  public/ACM/img/blog/DataSci.jpg
  public/ACM/img/blog/ML.jpg
  public/ACM/img/blog/RamHack.jpg
  public/ACM/img/events/SIG_Intro.jpg
  public/ACM/img/food1.jpg
  public/ACM/img/icon/favicon.ico
  public/ACM/img/logos/ACM.png
  public/ACM/img/logos/ACM_ASEB.png
  public/ACM/img/logos/logo.png
  public/ACM/img/logos/logowhite.png
  public/ACM/img/member.jpg
  public/ACM/img/members/supriya-m.jpg
  public/ACM/img/pattern.jpg
  public/ACM/img/team.jpg
  public/ACMW/css/events.css
Owners: @VinayakTekade, @AravindVNair99, @PriyaaIyer

[CodeFactor] Apply fixes
  public/ACMW/css/events.css
Owners: @PriyaaIyer, @AravindVNair99

replaced padding properties to single padding property
  public/ACMW/css/events.css
  public/ACMW/css/index.css
  public/ACMW/css/members.css
Owners: @PriyaaIyer, @AravindVNair99

[CodeFactor] Apply fixes
  public/ACMW/css/events.css
  public/ACMW/css/index.css
  public/ACMW/css/members.css
Owners: @PriyaaIyer, @AravindVNair99

fixed few errors
  functions/views/ACM/footer.ejs
  functions/views/ACMW/events.ejs
  public/ACMW/css/events.css
Owners: @VinayakTekade, @AravindVNair99, @PriyaaIyer

Rearranged position of selectors
  public/ACMW/css/events.css
Owners: @PriyaaIyer, @AravindVNair99

fixed spelling and rearranged the selectors
  functions/views/ACMW/CompetitiveCoding.ejs
  public/ACMW/css/events.css
Owners: @PriyaaIyer, @AravindVNair99

changes made in navbar
  public/ACMW/css/events.css
Owners: @PriyaaIyer, @AravindVNair99

removed unwanted class from navbar
  public/ACMW/css/events.css
Owners: @PriyaaIyer, @AravindVNair99

removed whitespace
  public/ACMW/css/events.css
Owners: @PriyaaIyer, @AravindVNair99

comjuer.ejs
  functions/views/comquer.ejs
Owners: @AravindVNair99

fixed DCO
  functions/views/comquer.ejs
  public/ACMW/css/events.css
Owners: @AravindVNair99, @PriyaaIyer

correction in pages
  functions/views/ACMW/CompetitiveCoding.ejs
  functions/views/ACMW/DataScience.ejs
  functions/views/ACMW/WebDevelopment.ejs
  functions/views/ACMW/contact.ejs
  functions/views/ACMW/members.ejs
  public/ACMW/css/index.css
  public/ACMW/css/members.css
Owners: @PriyaaIyer, @AravindVNair99

removed duplicated selector
  public/ACMW/css/events.css
Owners: @PriyaaIyer, @AravindVNair99

removed comquer.ejs
  functions/views/comquer.ejs
Owners: @AravindVNair99

added comquer.ejs
  functions/views/comquer.ejs
Owners: @AravindVNair99

added nav.ejs
  functions/views/ACMW/CompetitiveCoding.ejs
  functions/views/ACMW/DataScience.ejs
  functions/views/ACMW/SIG.ejs
  functions/views/ACMW/WebDevelopment.ejs
  functions/views/ACMW/events.ejs
  functions/views/ACMW/index.ejs
  functions/views/ACMW/members.ejs
  functions/views/ACMW/nav.ejs
Owners: @PriyaaIyer, @AravindVNair99

added meta.ejs in ACM-W and corrected spelling in meta.ejs
  functions/views/ACMW/CompetitiveCoding.ejs
  functions/views/ACMW/DataScience.ejs
  functions/views/ACMW/SIG.ejs
  functions/views/ACMW/WebDevelopment.ejs
  functions/views/ACMW/events.ejs
  functions/views/ACMW/index.ejs
  functions/views/ACMW/members.ejs
  functions/views/ACMW/meta.ejs
Owners: @PriyaaIyer, @AravindVNair99

Logo as a Button for Home page in ACM-W
  functions/views/ACMW/index.ejs
Owners: @PriyaaIyer, @AravindVNair99

[ImgBot] Optimize images
  public/ACM/img/ASEB.jpg
  public/ACM/img/events/eventBG.jpg
  public/ACM/img/gallery/gal10.jpg
  public/ACM/img/gallery/gal11.jpg
  public/ACM/img/gallery/gal12.jpg
  public/ACM/img/gallery/gal13.jpg
  public/ACM/img/gallery/gal14.jpg
  public/ACM/img/gallery/gal15.jpg
  public/ACM/img/gallery/gal16.jpg
  public/ACM/img/gallery/gal18.jpg
  public/ACM/img/gallery/gal2.jpg
  public/ACM/img/gallery/gal20.jpg
  public/ACM/img/gallery/gal23.jpg
  public/ACM/img/gallery/gal24.jpg
  public/ACM/img/gallery/gal25.jpg
  public/ACM/img/gallery/gal26.jpg
  public/ACM/img/gallery/gal27.jpg
  public/ACM/img/gallery/gal28.jpg
  public/ACM/img/gallery/gal3.jpg
  public/ACM/img/gallery/gal30.jpg
  public/ACM/img/gallery/gal4.jpg
  public/ACM/img/gallery/gal5.jpg
  public/ACM/img/gallery/gal6.jpg
  public/ACM/img/gallery/gal7.jpg
  public/ACM/img/gallery/gal8.jpg
  public/ACM/img/gallery/gal9.jpg
  public/ACM/img/members/adithya.jpg
  public/ACM/img/members/bhuvanashree.jpg
  public/ACM/img/members/gandheesh.jpg
  public/ACM/img/members/hrudeep.jpg
  public/ACM/img/members/jaswanth.jpg
  public/ACM/img/members/malvika.jpg
  public/ACM/img/members/moulika.jpg
  public/ACM/img/members/shreya.jpg
  public/ACM/img/members/subaharish.jpg
  public/ACM/img/members/supriya-m.jpg
  public/ACM/img/members/vaishnavi.jpg
  public/ACM/img/members/vishnu.jpg
Owners: @VinayakTekade, @AravindVNair99

added correct alt to images
  functions/views/ACM/footer.ejs
  functions/views/ACM/nav.ejs
  functions/views/ACMW/CompetitiveCoding.ejs
  functions/views/ACMW/DataScience.ejs
  functions/views/ACMW/contact.ejs
  functions/views/ACMW/events.ejs
  functions/views/ACMW/members.ejs
Owners: @VinayakTekade, @AravindVNair99, @PriyaaIyer

removed unwanted comments and source code
  functions/views/ACMW/SIG.ejs
  functions/views/ACMW/contact.ejs
  functions/views/ACMW/events.ejs
  functions/views/ACMW/index.ejs
  functions/views/ACMW/nav.ejs
  public/ACMW/css/events.css
  public/ACMW/css/index.css
Owners: @PriyaaIyer, @AravindVNair99

removed duplicated source code
  functions/views/ACMW/index.ejs
Owners: @PriyaaIyer, @AravindVNair99

removed comquer.ejs
  functions/views/comquer.ejs
Owners: @AravindVNair99

added file comjuer.ejs
  functions/views/comquer.ejs
Owners: @AravindVNair99

fix: Subharish name
  functions/views/ACM/footer.ejs
  functions/views/ACM/meta.ejs
  functions/views/ACM/nav.ejs
Owners: @VinayakTekade, @AravindVNair99

fix: ACMW EJS
  functions/views/ACMW/CompetitiveCoding.ejs
  functions/views/ACMW/DataScience.ejs
  functions/views/ACMW/SIG.ejs
  functions/views/ACMW/WebDevelopment.ejs
  functions/views/ACMW/contact.ejs
  functions/views/ACMW/events.ejs
  functions/views/ACMW/index.ejs
  functions/views/ACMW/members.ejs
  functions/views/ACMW/meta.ejs
  functions/views/ACMW/nav.ejs
Owners: @PriyaaIyer, @AravindVNair99

fix: ACMW CSS
  public/ACMW/css/events.css
  public/ACMW/css/index.css
  public/ACMW/css/members.css
Owners: @PriyaaIyer, @AravindVNair99

feat: Added animations
  functions/views/ACM/index.ejs
  public/ACM/js/index.js
Owners: @VinayakTekade, @AravindVNair99

fix: fade up animation for SIG
  functions/views/ACM/index.ejs
Owners: @VinayakTekade, @AravindVNair99

fix: ACMW bugs (#161)
  functions/views/ACM/footer.ejs
  functions/views/ACM/nav.ejs
  functions/views/ACMW/CompetitiveCoding.ejs
  functions/views/ACMW/DataScience.ejs
  functions/views/ACMW/SIG.ejs
  functions/views/ACMW/WebDevelopment.ejs
  functions/views/ACMW/contact.ejs
  functions/views/ACMW/events.ejs
  functions/views/ACMW/index.ejs
  functions/views/ACMW/members.ejs
  functions/views/ACMW/meta.ejs
  functions/views/ACMW/nav.ejs
  public/ACMW/css/events.css
  public/ACMW/css/index.css
  public/ACMW/css/members.css
Owners: @VinayakTekade, @AravindVNair99, @PriyaaIyer

feat: ACM Animation on Scroll (#160)
  functions/views/ACM/index.ejs
  public/ACM/js/index.js
Owners: @VinayakTekade, @AravindVNair99

refactor: ACM and ACM-W
  functions/views/ACM/footer.ejs
  functions/views/ACM/index.ejs
  functions/views/ACMW/CompetitiveCoding.ejs
  functions/views/ACMW/DataScience.ejs
  functions/views/ACMW/SIG.ejs
  functions/views/ACMW/WebDevelopment.ejs
  functions/views/ACMW/contact.ejs
  functions/views/ACMW/events.ejs
  functions/views/ACMW/index.ejs
  functions/views/ACMW/members.ejs
  functions/views/ACMW/meta.ejs
  functions/views/ACMW/nav.ejs
  public/ACM/js/index.js
  public/ACMW/css/events.css
  public/ACMW/css/index.css
  public/ACMW/css/members.css
Owners: @VinayakTekade, @AravindVNair99, @PriyaaIyer

fix: Subaharish credits for ACM-W
  functions/views/ACMW/contact.ejs
Owners: @PriyaaIyer, @AravindVNair99

fix: #152
  functions/views/ACMW/CompetitiveCoding.ejs
  functions/views/ACMW/DataScience.ejs
  functions/views/ACMW/SIG.ejs
  functions/views/ACMW/WebDevelopment.ejs
  functions/views/ACMW/events.ejs
  functions/views/ACMW/members.ejs
  functions/views/ACMW/meta.ejs
  functions/views/index.ejs
  public/ACM/css/events.css
  public/ACMW/css/events.css
Owners: @PriyaaIyer, @AravindVNair99, @VinayakTekade

fix: ACMW minor bugs
  functions/package-lock.json
  functions/views/ACMW/contact.ejs
  functions/views/ACMW/members.ejs
Owners: @AravindVNair99, @PriyaaIyer

fix: animation start trigger
  functions/views/ACM/index.ejs
  public/ACM/js/index.js
Owners: @VinayakTekade, @AravindVNair99

fix: animation start trigger
  functions/views/ACM/index.ejs
  public/ACM/js/index.js
Owners: @VinayakTekade, @AravindVNair99

fix: aos for gallery
  functions/views/ACM/index.ejs
Owners: @VinayakTekade, @AravindVNair99

fix: arrow position
  public/ACM/css/index.css
Owners: @VinayakTekade, @AravindVNair99
