Repository FACE-Amrita-Bengaluru/Website, changes with the owners that CODEOWNERS names for each.
All owners: @AravindVNair99, @VinayakTekade, @PriyaaIyer

fix: footer padding and gallery position
  functions/views/ACMW/index.ejs
  public/ACMW/css/index.css
Owners: @PriyaaIyer, @AravindVNair99

fix: footer bottom position
  functions/views/ACMW/contact.ejs
Owners: @PriyaaIyer, @AravindVNair99

fix: footer bottom padding
  functions/views/ACMW/contact.ejs
  public/ACMW/css/index.css
Owners: @PriyaaIyer, @AravindVNair99

fix: ACMW minor bugs (#163)
  functions/package-lock.json
  functions/views/ACMW/contact.ejs
  functions/views/ACMW/members.ejs
Owners: @AravindVNair99, @PriyaaIyer

fix: footer top padding
  functions/views/ACMW/contact.ejs
  public/ACMW/css/index.css
Owners: @PriyaaIyer, @AravindVNair99

fix: contact top padding
  functions/views/ACMW/contact.ejs
Owners: @PriyaaIyer, @AravindVNair99

fix: gallery padding
  functions/views/ACMW/index.ejs
Owners: @PriyaaIyer, @AravindVNair99

refactor: ACM and FACE
  functions/views/404.ejs
  functions/views/ACM/footer.ejs
  functions/views/ICIC_2018.ejs
  functions/views/TFS.ejs
  functions/views/comquer.ejs
  functions/views/offline.ejs
  functions/views/submission.ejs
  functions/views/team_1819.ejs
  functions/views/team_1920.ejs
  functions/views/uiux.ejs
  public/ACM/js/index.js
Owners: @AravindVNair99, @VinayakTekade

fix: removed br and used margin
  public/ACMW/css/index.css
Owners: @PriyaaIyer, @AravindVNair99

refactor: ACM and FACE (#164)
  functions/views/404.ejs
  functions/views/ACM/footer.ejs
  functions/views/ACM/index.ejs
  functions/views/ICIC_2018.ejs
  functions/views/TFS.ejs
  functions/views/comquer.ejs
  functions/views/offline.ejs
  functions/views/submission.ejs
  functions/views/team_1819.ejs
  functions/views/team_1920.ejs
  functions/views/uiux.ejs
  public/ACM/css/index.css
  public/ACM/js/index.js
Owners: @AravindVNair99, @VinayakTekade

fix: ACMW style for footer and gallery (#165)
  functions/views/ACMW/contact.ejs
  functions/views/ACMW/index.ejs
  public/ACMW/css/index.css
Owners: @PriyaaIyer, @AravindVNair99

fix: #153
  functions/views/ACM/index.ejs
Owners: @VinayakTekade, @AravindVNair99

feat: initial for team 2021
  functions/index.js
  functions/views/team_1920.ejs
  functions/views/team_2021.ejs
Owners: @AravindVNair99

fix: URLs missing HTTPS
  .gitignore
  functions/views/social.ejs
  public/css/font-awesome/fonts/fontawesome-webfont.svg
  public/fonts/merriweather/merriweather-black-webfont.svg
  public/fonts/merriweather/merriweather-bold-webfont.svg
  public/fonts/merriweather/merriweather-bolditalic-webfont.svg
  public/fonts/merriweather/merriweather-heavyitalic-webfont.svg
  public/fonts/merriweather/merriweather-italic-webfont.svg
  public/fonts/merriweather/merriweather-light-webfont.svg
  public/fonts/merriweather/merriweather-lightitalic-webfont.svg
  public/fonts/merriweather/merriweather-regular-webfont.svg
  public/fonts/raleway/raleway-bold-webfont.svg
  public/fonts/raleway/raleway-extrabold-webfont.svg
  public/fonts/raleway/raleway-extralight-webfont.svg
  public/fonts/raleway/raleway-heavy-webfont.svg
  public/fonts/raleway/raleway-light-webfont.svg
  public/fonts/raleway/raleway-medium-webfont.svg
  public/fonts/raleway/raleway-regular-webfont.svg
  public/fonts/raleway/raleway-semibold-webfont.svg
  public/fonts/raleway/raleway-thin-webfont.svg
  public/js/jquery.validate.min.js
  public/js/modernizr.js
  public/safari-pinned-tab.svg
Owners: @AravindVNair99

fix: structured data
  functions/views/ACM/scripts.ejs
  functions/views/ACMW/scripts.ejs
  functions/views/scripts.ejs
Owners: @VinayakTekade, @AravindVNair99, @PriyaaIyer

fix: team_2021
  functions/views/team_2021.ejs
Owners: @AravindVNair99

fix: sitemap
  public/sitemap.xml
Owners: @AravindVNair99

chore: v4.0.1
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

fix: functions/package.json, functions/package-lock.json & functions/.snyk to reduce vulnerabilities
  functions/package.json
Owners: @AravindVNair99

fix: functions/package.json, functions/package-lock.json & functions/.snyk to reduce vulnerabilities
  functions/package-lock.json
Owners: @AravindVNair99

fix: functions/package.json, functions/package-lock.json & functions/.snyk to reduce vulnerabilities
  functions/.snyk
Owners: @AravindVNair99

fix: upgrade ejs from 3.0.2 to 3.1.2
  functions/package.json
Owners: @AravindVNair99

fix: upgrade ejs from 3.0.2 to 3.1.2
  functions/package-lock.json
Owners: @AravindVNair99

fix: upgrade firebase-functions from 3.6.0 to 3.6.1
  functions/package.json
Owners: @AravindVNair99

fix: upgrade firebase-functions from 3.6.0 to 3.6.1
  functions/package-lock.json
Owners: @AravindVNair99

fix: sitemap
  public/sitemap.xml
Owners: @AravindVNair99

chore: v4.0.2 Node.js 10
  functions/.eslintrc.json
  functions/index.js
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

chore: Node.js 10
  .github/workflows/nodejs.yml
Owners: @AravindVNair99

fix: upgrade firebase-functions from 3.6.1 to 3.6.2
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

Update .eslintrc.json
  functions/.eslintrc.json
Owners: @AravindVNair99

Create ossar-analysis.yml
  .github/workflows/ossar-analysis.yml
Owners: @AravindVNair99

Create shiftleft-analysis.yml
  .github/workflows/shiftleft-analysis.yml
Owners: @AravindVNair99

Delete ossar-analysis.yml
  .github/workflows/ossar-analysis.yml
Owners: @AravindVNair99

fix: functions/package.json & functions/package-lock.json to reduce vulnerabilities
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

Add views
  README.md
Owners: @AravindVNair99

Update dependencies
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

Add registration form for executives
  functions/index.js
  functions/views/registration.ejs
Owners: @AravindVNair99

v4.1.0
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

fix: functions/package.json & functions/package-lock.json to reduce vulnerabilities
  functions/package-lock.json
  functions/package.json
Owners: @AravindVNair99

Updated Copyright 2020
  LICENSE
  functions/views/ACM/footer.ejs
  functions/views/ACMW/contact.ejs
  functions/views/footer.ejs
  functions/views/offline.ejs
Owners: @AravindVNair99, @VinayakTekade, @PriyaaIyer

CODEOWNERS:

*	@AravindVNair99
ACM/	@VinayakTekade	@AravindVNair99
ACMW/	@PriyaaIyer	@AravindVNair99
ACM/img/ACM_ASEB.png @VinayakTekade @PriyaaIyer	@AravindVNair99
ACM/img/ASEB.jpg @VinayakTekade @PriyaaIyer	@AravindVNair99
